/*Null style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input::placeholder {
  opacity: 1;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
s {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
/* fonts */
@font-face {
  font-weight: 400;
  font-family: "Helvetica";
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2");
  src: url("../fonts/GraphikLCG-Regular.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Bold.woff2") format("woff2");
  src: url("../fonts/Helvetica-Bold.woff") format("woff");
}
@font-face {
  font-weight: 300;
  font-family: "Helvetica";
  src: url("../fonts/Helvetica-Light-Regular.woff2") format("woff2");
  src: url("../fonts/Helvetica-Light-Regular.woff") format("woff");
}
@font-face {
  font-weight: 700;
  font-family: "HelveticaNeueCyr";
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
  src: url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
}
@font-face {
  font-weight: 400;
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Regular.woff2") format("woff2");
  src: url("../fonts/GraphikLCG-Regular.woff") format("woff");
}
@font-face {
  font-weight: 600;
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2");
  src: url("../fonts/GraphikLCG-Medium.woff") format("woff");
}
/* colors constant */
:root {
  --x-black: rgb(0, 0, 0);
  --x-red: rgb(241, 13, 72);
  --x-red-hover: rgba(241, 13, 72, 0.3);
  --x-black30: rgb(179, 179, 179);
  --x-pink: rgb(255, 233, 218);
  --x-white: rgb(255, 255, 255);
}
/* font constant */
:root {
  --fz-nav-menu: 12px;
  --lh-nav-menu: 1.25;
  --fz-main-title: 45px;
  --lh-main-title: 1.2;
  --fz-main-description-text: 20px;
  --lh-main-description-text: 1.4;
  --fz-main-button-text: 14px;
  --lh-main-button-text: 1;
  --fz-main-subtitle-text: 14px;
  --lh-main-subtitle-text: 1.3;
  --fz-card-title: 20px;
  --lh-card-title: 1.4;
  --fz-card-description-text: 11px;
  --lh-card-description-text: 1.5;
  --fz-card-price: 23px;
  --lh-card-price: 1.4;
  --fz-card-button-buy: 11px;
  --fz-card-button-buy: 1;
  --fz-promocode: 50px;
  --lh-promocode: 1.2;
  --fz-promo-title: 11px;
  --lh-promo-title: 1.5;
  --fz-promo-description: 14px;
  --lh-promo-description: 1.3;
  --fz-promo-button: 11px;
  --lh-promo-button: 1.5;
  --fz-promo-note: 11px;
  --lh-promo-note: 1.4;
  --fz-footer-phone: 14px;
  --lh-footer-phone: 1.14;
  --fz-footer-txt: 10px;
  --lh-footer-txt: 1.5;
}
.page-index {
  min-width: 320px;
  font-family: "Helvetica", "Arial", sans-serif;
  color: var(--x-black);
}
.container {
  max-width: 580px;
  margin: 0 auto;
}
.content{
	display: flex;
	flex-direction: column;
}
.main{
	flex: 1 1 auto;
}
/* -------menu------- */
.main-menu {
  padding: 50px 0 50px 0;
}
.main-menu-list {
  display: flex;
  align-items: center;
  font-size: var(--fz-nav-menu);
  line-height: var(--lh-nav-menu);
}
.main-menu-item {
  margin-right: 30px;
}
.main-menu-item:last-child {
  margin-right: 0;
  margin-left: auto;
}
.main-menu-link {
  display: block;
  padding: 5px 0 5px 0;
}
.main-menu-link:hover {
  color: var(--x-red);
}
.main-menu-icon {
  fill: var(--x-black);
}
/* -------logo------- */
.logo{
	text-align: center;
	padding: 10px 0 10px 0;
}
.main-logo-icon{
	fill: var(--x-black);
}
/* -------cover------- */
.cover{
	display: flex;
	flex-direction: column;
	padding: 30px 0 0 0;
}
.cover-img{
	order: -1;
}
.main-title{
	font-size: var(--fz-main-title);
	line-height: var(--lh-main-title);
	text-align: center;
	padding: 25px 0 15px 0;
}
.main-description-text{
	font-size: var(--fz-main-description-text);
	font-weight: 300;
	text-align: center;
}
@media (max-width: 768px) {
}
/* helpful style */
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}
